/* Write your code here. */
.container {
  background-image: linear-gradient(to right, #1d976c, #93f9b9);
  width: 80%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.background-container {
  display: flex;
  align-items: center;
}
.internal-container {
  margin-left: 15vh;
}
.heading {
  color: #ffffff;
  font-family: 'Roboto';
}
.paragraph {
  color: #ffffff;
  font-family: 'Roboto';
}
.input-value {
  background-color: transparent;
  color: #ffffff;
  height: 5vh;
  width: 40vh;
  border-color: #ffffff;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  outline: none;
}
.image {
  height: 70vh;
  width: 100vh;
}
.number-of-letters {
  color: #219a6f;
  font-family: 'Roboto';
  margin-top: 10vh;
  padding: 15px;
  background-color: #ffffff;
  border-radius: 10px;
  width: 150px;
}
